h1 {
    font-size: 50px;
    color: red;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
h2 {
    font-size: 45px;
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', serif;
}
h3 {
    color: green;
    text-align: center;
    font-family: 'Courier New', monospace;
}
h4 {
    color :brown;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 25px;
}
img {
    width: 300px; /* Cambia el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
p {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
li {
    font-size: 20px;
    color: black;
    font-family: 'Arial', sans-serif;
}
